<section class="min-vh-100 d-flex align-items-center" style="background-color: #f8f9fa;">
  <div class="container d-flex justify-content-center">
    <form class="py-5 px-4 shadow bg-white rounded w-50" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <h1 class="text-dark text-start">Login</h1>

      <div class="d-flex flex-column gap-3">
        <!-- Email Input -->
        <div class="form-floating">
          <input
            [ngClass]="{
                            'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched,
                            'is-valid': loginForm.get('email')?.valid
                        }"
            formControlName="email"
            type="email"
            class="form-control"
            id="floatingEmail"
            placeholder="Email"
          >
          <label for="floatingEmail">Email</label>
          <div class="invalid-feedback">
            <span *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</span>
            <span *ngIf="loginForm.get('email')?.hasError('email')">Enter a valid email.</span>
          </div>
        </div>

        <!-- Password Input -->
        <div class="form-floating">
          <input
            [ngClass]="{
                            'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched,
                            'is-valid': loginForm.get('password')?.valid
                        }"
            formControlName="password"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          >
          <label for="floatingPassword">Password</label>
          <div class="invalid-feedback">
            <span *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</span>
            <span *ngIf="loginForm.get('password')?.hasError('minlength')">Minimum 8 characters required.</span>
          </div>
        </div>

        <!-- Success & Error Messages -->
        <div *ngIf="loginSuccess" class="alert alert-success m-0">Login successful! Redirecting...</div>
        <div *ngIf="loginErrorMsg && !loginSuccess" class="alert alert-danger m-0">{{ loginErrorMsg }}</div>

        <!-- Submit Button -->
        <button [disabled]="loginForm.invalid || isLoading || loginSuccess" type="submit" class="btn btn-primary">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!isLoading">Login</span>
        </button>
      </div>

      <p class="text-dark mt-3">Don't have an account? <a routerLink="/register" class="text-primary">Register Now</a></p>
    </form>
  </div>
</section>
